penv

alembic.ini

data

# # Python
# __pycache__/
# *.py[cod]
# *$py.class
# penv/
# .env

# # Data
# data/
# *.db
# *.log

# # IDE
# .vscode/
# .idea/

# # OS
# .DS_Store
# Thumbs.db
